version: "3.3"
services:
  whalekiller-web:
    build: ./
    container_name: whalekiller-web
    depends_on:
      - whalekiller-db
    entrypoint: ["make", "wait-for-db", "release", "run-prod"]
    environment:
      DATABASE_URL: "postgresql://whalekiller:whalekiller@whalekiller-db:5432/whalekiller"
      REDIS_URL: "redis://whalekiller-redis"
      PORT: 80
    image: whalekiller-web
    ports:
      - "8888:80"
  whalekiller-db:
    container_name: whalekiller-db
    environment:
      POSTGRES_USER: whalekiller
      POSTGRES_PASSWORD: whalekiller
      POSTGRES_DB: whalekiller
    image: postgres:13.1-alpine
    ports:
      - "5555:5432"
    restart: always
    volumes:
      - whalekiller-volume:/var/lib/postgresql/data
  whalekiller-redis:
    container_name: whalekiller-redis
    image: redis:latest
  whalekiller-dba:
    container_name: whalekiller-dba
    image: adminer
    restart: always
    ports:
      - 5556:8080
    volumes:
      - whalekiller-volume:/var/lib/postgresql/data
volumes:
  whalekiller-volume:
    name: whalekiller-volume
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: size=100m
